/.settings/
/.idea/
/.gradle/
/dist/
/build/
/target/
/out/
/node_modules/
.project
/bin/
/test-output/
/coverage/
/package-lock.json
/unit-test-practice-3.iml
/src/main/java/dojo/PasswordVerifierSolution.java
/src/test/java/dojo/PasswordVerifierSolutionTest.java