/.settings/
/.idea/
/.gradle/
/.grunt/
/build/
/target/
/node_modules/
/out/
.project
/bin/
/test-output/
/coverage/
/package-lock.json
/gradle/wrapper/*.jar
/src/**/twitter-auth.properties
/src/**/twitter-auth.json
